{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professeur Dashboard</title>
    <link rel="stylesheet" href="{% static 'scolarite/etudiants/styles.css' %}">
</head>
<body>

<div class="container" >

    <nav class="nav_bar" style="flex-direction: row; display: block; ;">
        <h2>Professeur</h2>

        <ul>
            <li><a href="{% url 'prof_dashboard' %}">Accueil</a></li>
            <li><a href="{% url 'mes_etudiant' %}">Mes etudiant</a></li> 
            <li><a href="{% comment %}{% url 'mes_absences' %}{% endcomment %}">Absences</a></li>
                       
        </ul>
        <form action="{% url 'Deconnexion' %}">
            <button >Se deconnecter</button>            
        </form>
    </nav>

    <main class="content">
        {% block content %}



        {% endblock content %}
    </main>

</div>

</body>
</html>