{% extends "scolarite/etudiants/base.html" %}

{% block content %}

<div class="dashboard">

    <h1>Bienvenue, cher etudiant  👋</h1>
    <p>Tableau de bord de l'etudiants.</p>

    <div class="cards">

        <div class="card">
            <h2>🏫 Ma Classes</h2>
            <p> {{ classe }} </p>
        </div>

        <div class="card">
            <h2>📚 Mes Matières</h2>
            {% for i in matieres  %}
            <p> {{ i.nom_matiere }} </p>
        </div>

    </div>

    <div class="section">
        <h2>Actions rapides</h2>

        <a href="" class="btn">voir mes notes</a>
        <a href="" class="btn">voir mes absences</a>

    </div>

</div>

    
{% endblock content %}