{% extends "scolarite/etudiants/base.html" %}

{% block content %}

<div class="dashboard">

    <h1>Bienvenue, cher etudiant  👋</h1>
    <p>Tableau de bord de l'etudiants.</p>

    <div class="cards">

        <div class="card">
            <h3>Classe : {{ classe.nom_classe }}</h3>
        </div>

        <div class="card">
            <h3>Matières</h3>

            <ul>
                {% for matiere in matieres %}
                    <li>
                        {{ matiere.nom_matiere }}
                    </li>
                {% empty %}
                    <li>Aucune matière trouvée</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="section">
        <h2>Actions rapides</h2>

        <a href="" class="btn">voir mes notes</a>
        <a href="" class="btn">voir mes absences</a>

    </div>

</div>

    
{% endblock content %}