{% extends "scolarite/etudiants/base.html" %}

{% block content %}
<h2>
    Mes notes
</h2>


<table>
    <thead>
        <tr>
            <th>Matière</th>
            <th>Note</th>
        </tr>
    </thead>

    <tbody>

    {% for note in notes %}
        <tr>
            <td>
                {{ note.matiere.nom_matiere }}
            </td>

            <td>
                {{ note.note }}/20
            </td>
        </tr>

    {% empty %}

        <tr>
            <td colspan="2">
                Aucune note disponible
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>

{% endblock content %}
