{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'scolarite/admin/style.css' %}">
</head>
<body>

<div styles=" " class="container" >

    <nav class="nav_bar">
        <h2>Administration</h2>

        <ul>
            <li><a href="{% url 'admin_dashboard' %} ">Accueil</a></li>
            <li><a href="{% url 'users_liste' %}">Gestion des utilisateurs</a></li>
            <li><a href="{% url 'liste_etu' %}">Gestion des étudiants</a></li>
            <li><a href="">Gestion des professeurs</a></li>
            <li><a href="">Statistiques</a></li>
            
        </ul>
        <form action="{% url 'Deconnexion' %}">
            <button >Se deconnecter</button>            
        </form>

    </nav>

    <main class="content">
        {% block content %}



        {% endblock content %}
    </main>

</div>

</body>
</html>