<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="">Gestion des Utilisateur</a>
            </li>
            <li>
                <a href="">Gestion des Etudiants</a>
            </li>
            <li>
                <a href="">Gestion des Professeurs</a>
            </li>
            <li>
                <a href="">Statistiques</a>
            </li>
        </ul>
    </nav>
</body>
</html>