{% extends "scolarite/admin/base.html" %}


 {% block content %}
<table>

<thead>
<tr>
    <th>email</th>
    <th>role</th>
</tr>
</thead>

    {% for utilisateur in utilisateurs %}
    <tr>
        <td>{{ utilisateur.email }}</td>
        <td>{{ utilisateur.role }}</td>
        <td> 
            <div style="display: flex; gap: 10px;">
                <form action="" method="get">
                    <button style="background-color: blue ;" type="submit">Détail</button>
                </form>
                <form action="" method="get">
                    <button style="background-color: green" type="submit">Modifier</button>
                </form>
                <form action="" method="get">
                    <button style="background-color: red;" type="submit">suprimer</button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
<tbody>
</table>
{% endblock content %}