{% extends "scolarite/admin/base.html" %}

{% block content %}

<form action="{% url 'ajouter_etudiant' %}" method="get">
    <button type="submit">Ajouter un étudiant</button>
</form>

<hr>

{% for etudiant in etudiants %}

<div>
    {{ etudiant.nom }}
    {{ etudiant.prenom }}
    {{ etudiant.matricule }}
    {{ etudiant.classe }}
     
   <a href="">Détail</a>
   <a href="">Modifier</a>
     <a href="{% url 'suprimer_etudiant' %}">Supprimer</a>
</div>

{% empty %}

<p>Aucun étudiant enregistré.</p>

{% endfor %}

{% endblock %}