{% extends "scolarite/admin/base.html" %}

{% block content %}

<form action="{% url 'ajouter_etudiant' %}" method="get">
    <button type="submit">Ajouter un étudiant</button>
</form>

<hr>

{% for etudiant in etudiants %}

<div>
    {{ etudiant.nom }}
    {{ etudiant.prenom }}
    {{ etudiant.matricule }}
    {{ etudiant.classe }}

    <button type="button">Détail</button>
    <button type="button">Modifier</button>
    <button type="button">Supprimer</button>
</div>

{% empty %}

<p>Aucun étudiant enregistré.</p>

{% endfor %}

{% endblock %}