{% extends "scolarite/admin/base.html" %}


{% block content %}

{% if role == "etudiant" %}
<h2>Suppression d'un étudiant</h2>

<p>
    Voulez-vous vraiment supprimer
    <strong>{{ etudiant.matricule }} {{ etudiant.nom }} {{ etudiant.prenom }}  </strong> ?
</p>

{% else %}
<h2>Suppression d'un professeur</h2>

<p>
    Voulez-vous vraiment supprimer
    <strong>{{ etudiant.nom }} {{ etudiant.prenom }}  </strong> ?
</p>

{% endif %}


<form method="POST">
    {% csrf_token %}

    <button type="submit">
        Oui, supprimer
    </button>

    <a href="{% url 'liste_etu' %}">
        Annuler
    </a>
</form>

{% endblock content %}